$fill-bg-caef: #f9caef;
$fill-bg-afa: #feeafa;
$fill-bg-fee: #fee7f9;
$fill-bg-fbe: #f5b5e8;

$color-font-black: #3f3f3f;

$width-container: 1460px;

$media-xxxs: 360px;
$media-xxs: 480px;
$media-xs: 840px;
$media-s: 960px;
$media-m: 1024px;
$media-l: 1280px;
$media-xl: 1440px;
$media-xxl: 1600px;
$media-xxxl: 1920px;
