html,
body {
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
}

body {
  background-color: $fill-bg-caef;
  background: linear-gradient(
    153deg,
    $fill-bg-caef 0%,
    $fill-bg-fbe 2%,
    $fill-bg-afa 36%,
    $fill-bg-fee 67%,
    $fill-bg-caef 91%
  );
  margin: 0;
  padding: 0;
  color: $color-font-black;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $color-font-black;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

.container {
  max-width: $width-container;
  margin: 0 auto;
}
